.dropdown {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    position: absolute;
    background-color: white;
}

.dropdown-item {
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.dropdown-item-icon {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown-item-icon:first-child {
    border-right: 1px solid gray;
}

.dropdown-icon {
    font-size: 20px;
}