.back-button-white-theme{
    margin-top: 72px;
    
} 
.back-button-dark-theme{
    margin-top: 72px;
    color:white;

}
.title-white-theme {
    font-size: 56px;
    margin-top: 32px;

}
.title-dark-theme{
    font-size: 56px;
    margin-top: 32px;
    color:white;


}
.template-body-white-theme {
    width:70%;
    margin: auto;
    padding: 50px;
    border:1px solid black;
    text-align: center;
    font-size:25px;
    margin-top: 72px;
    

}
.template-body-dark-theme{
    width:70%;
    margin: auto;
    padding: 50px;
    border:1px solid #8D8E97;
    text-align: center;
    font-size:25px;
    margin-top: 72px;
    color:white;


}
.dark-theme{
    background-color:rgb(56, 56, 56);
    color:#8D8E97;
}