.container {
    width: 1170px;
    margin: 0 auto;
}

.container-title-light {
    font-family: "Inter";
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    padding-top: 80px;
}
.container-title-dark {
    font-family: "Inter";
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    padding-top: 80px;
    color: white;

}

.container-photo {
    width: 992px;
    height: 518px;
    object-fit: cover;
    display: block;
    margin: 30px auto;
}

.container-desription-light {
    width: 922px;
    margin: 0 auto;
    font-family: Inter;
    font-size: 18px;
    line-height: 32px;
}
.container-desription-dark {
    width: 922px;
    margin: 0 auto;
    font-family: Inter;
    font-size: 18px;
    line-height: 32px;
    color:white;
}