.listOfPosts{
    display: flex;
    .pages__left{
        width: 736px;
        margin-right: 32px;
        .mediumCards-wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .mediumCard{
                margin-top: 40px;
            
            }

        }
    }
    .pages__right{
        .right__item{
            margin-bottom: 40px;       
        }
    }
}