*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
    
}
.container{
    max-width:1170px;
    margin: auto;
}
.title{
    margin:40px 0px;
}
.tabs{
    margin-bottom: 64px;
}


/* //Темный бэкграунд для root */
.root-dark{
    background-color:#313037;
    transition: 0.3s;

}
.root-light{
    background-color:white;
    transition: 0.3s;


}